<!DOCTYPE html>
<html>
	
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        {% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'animation.css' %}">
		<link href="https://fonts.googleapis.com/css?family=Barlow:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
        <title>Design - Project 404</title>
        <style>
            {% include 'snippets/pro4.html' %}
            
        </style>
	</head>
	
	<body>
		<nav>
			<ul>
                <a href="/"><li>Design</li></a>
                <a href="/contact"><li>Contact</li></a>
				
			</ul>
			</nav>
		<container>
		<div class="wrapper">
				<a href="/">
                {% include 'snippets/ra.html'%}
				</a>
			</div>
		<section>
			<div class="matrix">
				<div class="channel">
				<h3 class="pro">Project 404</h3>
				
				<p class="pro-highlight">Project 404 explores the dualism of mobility as it pertains to the physical and virtual realms. This dualism examines the attributes of form and function, drawing evidence that devices and active systems reflect most antiquated communication methods such as cave paintings and hieroglyphs. The name 404, inspired by a code in response to a client request, questions the overall state of existence in pertinence to physical perception and mental projection via mobility.</p>
				</div>
<div class="matrix-inner">
	<h3 class="pro-black">Process & Ideation</h3>
</div>
<div class="matrix-inner">
	<div class="matrix-inner-small">
				<h2 class="pro-black">Overview</h2>
				<p class="pro-black-full">
Error code <span class="italics">404</span> alerts the user client that a page does not exist on the internet. The internet is an ever expanding platform that contains several different domains, all connected via hyperlinks. Whatever a user client inputs in the address bar has a final destination, and if the page does not exist wether or not the html document exist. This concept goes into the idea of mobility, being that it involves a starting and ending point.</p>
	</div>
	  
	
	<div class="matrix-inner-small">
				<h2 class="pro-black">Typeface</h2>
				<p class="pro-black-full">
I created a code inspired typeface which binds both the formal traits of glyphs and architectural structure of a maze. In making the first iteration of the typeface, <span class="italics">404 Regular</span>, I surrounded each glyph with a common frame. Furthermore, I started creating several different paths, reiterating the surrounding structures of each letter. This design execution functions to bridge both sides of the frames connecting each glyph.</p>
	</div>
	 
	<div class="matrix-inner-small">
				<h2 class="pro-black">3D Rendering</h2>
				<p class="pro-black-full">
I rendered the maze in black and white in order to capture the dark space of the web. This unsettling atmosphere, void of color, is what I imagine the internet to be. The inner parts of the walls, obscured from the viewer's perspective, emits light connecting each path of the maze, similar to hyperlinks. The viewer is able to experience the maze externally and internally.</p>
	</div>
	
	
			</div>
			<div class="matrix-window"></div>
			<div class="channel-final">
				<div class="channel-light">
			<h3 class="pro">Final Deliverables</h3>
				<p class="pro-highlight">In exploration of constructing this typeface, I experimented with its utilization. The typeface in its formal and symbolic quality is capable of projecting both words, via character, and paths by design. I created different styles and levels of contrast to each letter. I randomized each letter by character assignment, via the keyboard. Users are able to focus more on the maze as they are able to type in new paths with each characters.</p>
				</div>
			</div>
			<div class="matrix-window-2"></div>
			</div>
			
		</section>
				
	</container>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="{% static 'js/bg.js' %}"></script>
	</body>
	
	<footer>
	</footer>
	
</html>